<title>My application</title>
  <h1>Hello, World!</h1>
    It takes the first and the second of the numbers entered in the first box as index values
    <br>
    and checks whether the sum of the numbers they come across in the list is the same 
    <br>
    as the number entered in the second box.
    <br>
    E.g:
    Values entered in the first box: 1 2 3 4 5
    <br>
    Value entered in the second box: 5
    <br>
    1st element:1
    <br>
    2nd element:2
    <br>
    The value that the first element is in the list: 2
    <br>
    The value that the second element is in the list: 3
    <br>
    2+3 ?= 5
    <br>
    <br>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
